.first{
  background-color:#CCCCCC;
  padding-top:150px;
  padding-bottom:150px;
  padding-left:150px;
  padding-right:125px;
  width:200px;
  transition: background 0.4s;
  display: inline-block;
  margin-right:461px;
}
.first:hover{
  background-color:burlywood;
}
body{
  margin:0px;
}
.second{
  background-color:#764AF1;
  padding-left:150px;
  padding-right:150px;
  padding-top:150px;
  padding-bottom:150px;
  transition: background 0.4s;
  width:200px;
  display:inline-block;
}
.second:hover{
  background-color:pink;
}
.third{
  background-color:#576F72;
  padding-right:121px;
  padding-left:150px;
  padding-top:150px;
  padding-bottom:150px;
  transition: background 0.4s;
  width:193px;
  display:block;
  margin-left:475px;
}
.third:hover{
  background-color: yellow;
}
.fourth{
  background-color:#82ACFF;
  padding-top:150px;
  padding-bottom:150px;
  transition: background 0.4s;
  padding-left:150px;
  padding-right:125px;
  width:200px;
  display: inline-block;
  margin-right:461px;
}
.fourth:hover{
  background-color:grey;
}
.fifth{
background-color:#F1DDBF;
padding-left:150px;
padding-right:150px;
padding-top:150px;
padding-bottom:150px;
transition: background 0.4s;
width:200px;
display: inline-block;
}
.fifth:hover{
  background-color:blue;
}
  h1{
  align:middle;
}
